<div class="space"></div>

<section class="hero">
    <h1>NFT Generator</h1>
    <h2>Generate Over 1200 Unique Combinations</h2>
    <br /><br /><br />
    <div class="image-div">
      <img src="/images/savedImage/image.png" alt="NFT Image" />
    </div>
    <br /><br /><br />
    <button onclick="location.reload()" class="primary-button"><p>
        Generate
      </p></button>
</section>

<div class="space"></div>
<div class="space"></div>

<section class="sec-two">
  <div class="space"></div>
  <h2>Resources Used To Generate This NFT</h2>
  
  <hr>
  
  <div class="space"></div>

  <p>Faces</p>
  <div class="grid-container">
    <div class="grid-item"><img src="/images/faces/Face (1).png"></div>
    <div class="grid-item"><img src="/images/faces/Face (2).png"></div>
    <div class="grid-item"><img src="/images/faces/Face (3).png"></div>
    <div class="grid-item"><img src="/images/faces/Face (4).png"></div>
    <div class="grid-item"><img src="/images/faces/Face (5).png"></div>
    <div class="grid-item"><img src="/images/faces/Face (6).png"></div>
  </div>

  <div class="space"></div>

  <p>Eyes</p>
  <div class="grid-container">
    <div class="grid-item"><img src="/images/eyes/Eye (1).png"></div>
    <div class="grid-item"><img src="/images/eyes/Eye (2).png"></div>
    <div class="grid-item"><img src="/images/eyes/Eye (3).png"></div>
    <div class="grid-item"><img src="/images/eyes/Eye (4).png"></div>
    <div class="grid-item"><img src="/images/eyes/Eye (5).png"></div>
    <div class="grid-item"><img src="/images/eyes/Eye (6).png"></div>
  </div>

  <div class="space"></div>

  <p>Smiles</p>
  <div class="grid-container">
    <div class="grid-item"><img src="/images/smiles/Smile (1).png"></div>
    <div class="grid-item"><img src="/images/smiles/Smile (2).png"></div>
    <div class="grid-item"><img src="/images/smiles/Smile (3).png"></div>
    <div class="grid-item"><img src="/images/smiles/Smile (4).png"></div>
    <div class="grid-item"><img src="/images/smiles/Smile (5).png"></div>
    <div class="grid-item"><img src="/images/smiles/Smile (6).png"></div>
  </div>

  <div class="space"></div>

  <p>Backgrounds</p>
  <div class="space"></div>
  <div class="grid-container">
    <div class="grid-item"><img src="/images/colours/Colour (1).png"></div>
    <div class="grid-item"><img src="/images/colours/Colour (2).png"></div>
    <div class="grid-item"><img src="/images/colours/Colour (3).png"></div>
    <div class="grid-item"><img src="/images/colours/Colour (4).png"></div>
    <div class="grid-item"><img src="/images/colours/Colour (5).png"></div>
    <div class="grid-item"><img src="/images/colours/Colour (6).png"></div>
  </div>

  <div class="space"></div>

</section>